<h1>銀行出入金作業 / 代結匯作業 / {{titleLast}}</h1>

<ng-container *ngIf="showWhichPage == 0">
  <app-search [dataList]="dataList"
    (buttonActionEmit)="buttonActionNext($event)"></app-search>
  <button (click)='dataReset()'>資料重製</button>
</ng-container>

<ng-container *ngIf="showWhichPage == 1">
  <app-detail [sendDetailData]="sendDetailData" [nextStep] = "nextStep"
    (backToAllDataPageEmit)="backToAllDataPage()" (reverseBackToAllEmit)="reverseAndDelateData($event)"
    (executeBackToAllEmit)="executeAndUpdateDate($event)"></app-detail>
</ng-container>

<!-- <router-outlet></router-outlet> -->
